* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  font-family: 'Montserrat', -apple-system,Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #fff;
}

p {
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: 'Montserrat', -apple-system,Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: rgb(66, 66, 66);
}

section {
  padding: 120px 0;
}

section#top {
  padding: 0;
  background-color: rgba(38, 38, 38, 0.8);
  position: fixed;
  width: 100%;
  z-index: 10;
}

#top h4 {
  color: #fff;
  padding: 15px 0px;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  section {
    padding: 120px 0 80px;
  }
}

.btn {
  font-family: 'Montserrat', -apple-system, Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
}

.btn-primary {
  background-color: #db5133;
  border-color: #db5133;
  width: 100%;
  height: 50px;
  font-weight: 600;
  text-align: left;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color:#943824 !important;
  border-color: #943824 !important;
  color: #fff;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

/* CONTACT SECTION */

section#contact {
  background-color: #212529;
  /* background-image: url("../img/tom-basil.jpg"); */
  background-image: url("../img/texture-lines.jpg");
  background-repeat: no-repeat;
  background-position: center right;
  background-attachment: fixed;
  background-size: cover;
  min-height: 700px;
}

.card-profile {
  background-color: #29313f;
  margin-top: 55px;
}

.contact-card-title { 
  margin: 20px 5px;
}

.contact-card-title h4 {
  color: #fff;
  padding: 20px 0 5px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

#contact .card-body {
  overflow: hidden;
  padding-bottom: 30px;
  background-color: #2C3038;
  padding-bottom: 0;
}

.card-description {
  font-size: 1.5rem;
  line-height: 1.3;
  padding: 20px 14px 0;
}

.card-list {
  font-size: 1rem;
  padding-left: 55px;
  margin-bottom: 30px;
}

#contact .book img {
  width: 80%;
  margin-top: -15px;
  padding-bottom: 30px;
  padding-top: 20px;
}

#contact .card-title h4 {
  font-size: 1.8rem;
  font-weight: 600;
}

.tellus {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 20px;
  color: #fff;
}

#inputEmail {
  width: 100%;
}

input.form-control {
  height: 50px;
  width: 100%;
  margin-right: 0;
  margin-bottom: 10px;
}

form > button {
  width: 100%;
}

.policy {
  text-align: center;
  text-decoration: underline;
}

.policy a {
  display: block;
  margin: 0 auto;
  font-size: .9rem;
  color: #fff!important;
  margin-top: 20px;
}

.policy a:hover {
  color: rgb(76, 106, 241)!important;
}


@media (min-width: 768px) {

  #contact .card-title {
    padding-left: 42px;
  }

  #contact .card-title h4 {
    font-size: 1.8rem;
    text-align: left;
  }

  .contact-card-title h4 {
    padding-top: 20px;
  }

  .contact-card-title p > span {
    font-weight: 600;
    text-decoration: underline;
  }

  #contact .card-title h5 {
    margin-top: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left;
  }

  #contact .book img {
    width: 165%;
    padding-top: 15px;
    padding-left: 20px;
    position: relative;
    right: 40px;

    padding-bottom: 20px;
    margin-top: 5px;   
  }
}

@media (min-width: 1024px) {

  #top h4 {
    padding-left: 50px;
    padding-right: 50px;

  }

  .card-list {
    font-size: 1.2rem;
  }

  .card-description {
    padding-left: 27px;
    padding-right: 27px;
  }

  .card-profile {
    margin-top: 10px;
  }

  #contact .card-title h4 {
    font-size: 2rem;
    text-align: left;
  }

  .contact-card-title h4 {
    padding-top: 22px;
    padding-right: 25px;
  }

  #contact .book img {
    width: 130%;
    padding-top: 10px;
    position: relative;
    right: 25px;
  }

  #inputEmail {
    width: 47%;
  }

  .btn-primary {
    width: 47%;
  }
}

@media (min-width: 1199px) { 

  #contact .card {
    padding-right: 35px;
  }
  #contact .book img {
    width: 145%;
    padding-top: 20px;
    position: relative;
    padding-bottom: 25px;
    left: -12px;
  }

  #contact .card-title h4 {
    font-size: 2.5rem;
    text-align: left;
    margin-left: 55px;
    margin-top: 12px;
    padding-top: 14px;
  }

  #contact .card-title p {
    color: #fff;
    margin-left: 55px;
  }

  .form-inline {
    margin-left: 55px;
  }
}

@media (min-width: 1020px) {
  #contact .form-header {
    padding: 30px 60px 10px;
  }

  #contact .card-title h5 {
    margin-left: 0;
  }

  input.form-control {
    height: 50px;
    width: 52%;
    margin-bottom: 0;
    margin-right: 12px;
    
    /* margin-right: 12px; */
  }
}

@media (min-width: 1199px) {

  #contact .card-title h5 {
    margin-left: 55px;
  }
}


/* FOOTER SECTION */

footer {
  padding: 25px 0;
  text-align: center;
}

footer p {
  font-size: 90%;
  color: rgb(66, 66, 66);
  text-align: left;
  padding: 25px;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', -apple-system, Roboto, 'Helvetica Neue', Arial, sans-serif;
}

footer h6 {
  color: rgb(66, 66, 66);
}


.redesign {
  background-color: #212529;
  background-image: url("../img/texture-lines.jpg");
  background-repeat: no-repeat;
  background-position: center right;
  background-attachment: fixed;
  background-size: cover;
  min-height: 500px;
}

.redesign h2 {
  margin-top: -50px;
  margin-bottom: 30px;
}

